<h2 class="text-center m-5 danger">dashboard</h2>
<table class="table" >
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let good of goods ; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{good.name}}</td>
      <td>
        <input name="price" type="number" #price [(ngModel)]="good.price" min="1" >

      </td>
      <td>
        <button type="button" class="btn btn-warning" (click)="updatePrice(i)" >edit price</button>
        <button type="button" class="btn btn-danger "  (click)="delete(i)">delete</button>

      </td>
    </tr>
  </tbody>
</table>
