<div class="body col col-xs-12 col-sm-6">
    <h2 class="text-danger m-5">sign in form</h2>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <form #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)" >
    
      <input class="form-input" type="email" #useremail="ngModel" [(ngModel)]="email" name="email" placeholder="Enter your email" required email>
      <div class="alert alert-danger" *ngIf=" useremail.touched && useremail.errors?.['required']" role="alert">
        email is required
    </div>
     <div class="alert alert-danger" *ngIf=" useremail.touched && useremail.errors?.['email']" role="alert">
      email is invalid
    </div>
    
  
      <input class="form-input" type="password" #userpass="ngModel" [(ngModel)]="password" name="pass" placeholder="Enter your password" required minlength="8">
      <div class="alert alert-danger" *ngIf=" userpass.touched && userpass.errors?.['required']" role="alert">
        password is required
    </div>
    <div class="alert alert-danger" *ngIf=" userpass.touched && userpass.errors?.['minlength']" role="alert">
      password should be more than 8
  </div>
    
 
  <button class="btn btn-danger" [disabled]="signinForm.form.invalid " >sign in</button>
    </form>
    <div>
        <a routerLink="/signup">create account?</a>
    </div>
   
  </div>
  
  
  